@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    background: url(../imagens/fundo-projeto-social2.png) top center no-repeat fixed;
    background-size: cover;
    margin: 0;
}

main {
    height: 97vh;
    position: relative;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    background: url('../imagens/frame-iphone.png')no-repeat;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}

section#redes-sociais {
    text-align: right;
    padding-right: 15px;
}

section#redes-sociais > a > img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.755);
    box-sizing: border-box;
}

section#redes-sociais img:hover{
    border: 2px dashed rgba(255, 255, 255, 0.733);
    transition: border .16s;
}

p {
    color: white;
    font-size: larger;
    padding: 25px 10px 10px 0px;
}

@media (max-width: 600px) {
    section#redes-sociais {
        display: none;
    }

    .one, .two, .three {
        background-color: white;
        height: 5px;
        width: 100%;
        margin: 6px auto;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        transition-duration: 0.3s;
    }

    .menu-toggle {
        margin-left: auto;
        margin-right: 20px;
        width: 40px;
        height: 30px;
    }

    .menu-section.on {
        position: absolute;
        top: -18px;
        left: 0;

        width: 100vw;
        height: 100vh;

        background-color: #807b7f;

        z-index: 10;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-section.on section#redes-sociais {
        display: block;
    }

    .menu-section.on .menu-toggle {
        position: absolute;
        right: 0;
        top: 15px;
    }

    .menu-section.on .menu-toggle .one {
        transform: rotate(45deg) translate(7px, 7px);
        -webkit-transform: rotate(45deg) translate(7px, 7px);
        -moz-transform: rotate(45deg) translate(7px, 7px);
        -ms-transform: rotate(45deg) translate(7px, 7px);
        -o-transform: rotate(45deg) translate(7px, 7px);
    }     
    
    .menu-section.on .menu-toggle .two {
        opacity: 0;
    }

    .menu-section.on .menu-toggle .three {
        transform: rotate(-45deg) translate(8px, -9px);
        -webkit-transform: rotate(-45deg) translate(8px, -9px);
        -moz-transform: rotate(-45deg) translate(8px, -9px);
        -ms-transform: rotate(-45deg) translate(8px, -9px);
        -o-transform: rotate(-45deg) translate(8px, -9px);
    }

    .menu-section.on section#redes-sociais {
        text-align: center;  
    }

    .menu-section.on section#redes-sociais > a {
        transition-duration: 0.5s;
    }

    section#redes-sociais > p {
        padding-right: 0px;
    }
}